@layer components {
  .btn {
    @apply px-10;
    @apply py-5;
    @apply rounded-md;
    @apply transition-shadow;

    background: linear-gradient(135deg, rgba(25, 30, 40, 0.3) -1.41%, #10141d 82.14%);
    box-shadow: 0px 10px 10px 0px rgba(72, 79, 97, 0.3) inset, 0px -1px 10px 0px rgba(72, 79, 97, 0.3) inset, 0px 1px 0px 0px #484f61 inset;

    &:hover,
    &:focus {
      box-shadow: 0px 10px 10px 0px rgba(72, 79, 97, 0.6) inset, 0px -1px 10px 0px rgba(72, 79, 97, 0.6) inset, 0px 1px 0px 0px #484f61 inset;
    }
  }
}
